body{
	background:url(../images/bg.jpeg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	min-height: 700px;
}

h1{
	margin: 0;
	padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
    margin: 35px 0 35px 0;
    padding: 0;
    color: #9e9e9e;
    
}

.main {
    width: 620px;
    margin: 10px auto;
    padding: 2em;
    height: 410px;
    background: rgba(255, 255, 255, 0.1);
	-webkit-box-shadow:  0px 1px 3px 3px rgba(253, 249, 249, 0.75);
    -moz-box-shadow:  0px 1px 3px 3px rgba(253, 249, 249, 0.75);
    box-shadow: 0px 1px 3px 3px rgba(253, 249, 249, 0.75);
}


.input{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 100%;
    margin: 20px 0;
	border: 1px solid #fff;
	background: transparent;
	box-sizing: border-box;
    color: #fff;
	outline: none;
	min-height: 90px;
	resize: none;
	font-family: 'Raleway', sans-serif;
}

.btn{
	font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
	display: block;
    padding: 10px;
	width: 30%;
    margin: 10px auto 0;
	box-sizing: border-box;
	border: 1px solid #fff;
	outline:none;
	background: #ff4f81;
    color: #fff;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
}

