body{
	background-size: contain;
	background: url('/static/images/bg.jpeg') no-repeat center 0; 
 	font-family: 'Open Sans', sans-serif;
}

.login-form {
	background:#eee;
	width: 26%;
	margin:9% auto 4% auto;
 	position: relative;
	align-content: center;
	opacity:0.5;
}

.head {
	position: absolute;
	top:-15%;
	left: 35%;
}
.head img {
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	align-content: center;
	border:6px solid rgba(221, 218, 215, 0.23);
}

.main{
	position:relative;
}

.main h1{
	font-size:25px;
	color:#676767;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	padding-top: 19%;
	text-align: center;
}

.main form {
	font-size:25px;
	color:#676767;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	padding-top: 19%;
	width: 80%;
	margin: 0 auto;
	padding: 6% 0 9% 0;
}

.main p {
text-align: center;
}

.main form p a {
	font-size:20px;
	color:#676767;	
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	padding-top: 1%;
	text-align: center;
	text-decoration:none
}

form p a:hover {
	color:#21A957;
}

 input[type="text"], input[type="password"]{
	text-align:left;
	position: relative;
	width:92%;
	padding:3%;
	background:#D3D3D3;
	margin-bottom: 6%;
	font-family: 'Open Sans', sans-serif;
	color: #676767;
	font-weight:600;
	font-size: 16px;
	outline: none;
	border: none;
	border-radius: 5px;
	border:1px solid #DED6D6;
	-webkit-appearance:none;
}
 input[type="text"]:hover, input[type="password"]:hover{
 	border:1px solid #949494;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
 	
 }
input[type="submit"]{
	width: 99%;
	padding: 3%;
	margin-bottom: 8%;
	background: #21A957;
	font-family: 'Open Sans', sans-serif;
	color: #ECECEC;
	box-shadow: inset 0px 0px 10px #666464;
	
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight:500;
	border-radius: 5px;
	transition: 0.5s;
	-webkit-appearance:none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}
input[type="submit"]:hover{
	background:#128A42;
	color:#fff;
}
