<html>
<head>
    {% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% endblock %}
</head>
<style>
  .alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #9c9c9c;
    background-color: #e6e6e6;
	  border-radius: 5px;
	  opacity:0.5;
	  text-align: center;
}
</style>
{% for message in get_flashed_messages() %}    
    <div class="alert">{{ message }}</div> 
{% endfor %} 
{% block content %}{% endblock %}
</html>