{% extends 'basic.html' %}
{% block head %}
{{super()}}
<title>index</title>
<link href="{{ url_for('static', filename = 'css/index.css') }}" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
<body>
	{% if current_user.is_authenticated %}
	<h1>HELLO! {{ nickname }}</h1>
	{% else %}
	<h1>Welcome!</h1>		
	{% endif %}
	<div class="demo">
		<div class="navbar">Menu
			<ul class="menu">
				<li><a href="{{url_for('feedback')}}">feedback</a></li>

				{% if current_user.is_authenticated %}
				<li><a href="{{url_for('logout')}}">logout</a></li>
				<li><a href="#">home</a></li>
				{% else %}
				<li><a href="{{url_for('login')}}">login</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</body>
{% endblock %}