{% extends 'basic.html' %}
{% block head %}
{{super()}}
<title>Login</title>
<link href="{{ url_for('static', filename = 'css/others.css') }}" rel='stylesheet' type='text/css' />

{% endblock %}

{% block content %}
<body>
	<div class="main">
		<div class="login-form">
			<h1>登&nbsp&nbsp&nbsp&nbsp录</h1>
			
					<div class="head">
						<img src="{{ url_for('static', filename = 'images/user.png') }}" alt=""/>
					</div>
				<form method="POST">
						<input type="text" class="text" placeholder="Username" name="Username" onfocus="this.placeholder = '';" onblur="if (this.placeholder == '') {this.placeholder = 'Username';}" autocomplete="off" required>
						<input type="password" placeholder="Password" name="Password" onfocus="this.placeholder = '';" onblur="if (this.placeholder == '') {this.placeholder = 'Password';}" autocomplete="off" required>
						<input class="btn" type="submit" value="登录">
						<p><a href="{{ url_for('register') }}">注册账户</a></p>
				</form>
			</div>
	</div>
</body>
{% endblock %}